*{}
body{background:white;display:flex;justify-content:center;align-items:center;flex-direction:column;font-family:helvetica;}
img{height:75vw;width:75vw;

border-radius:50%;margin: 50px auto;
}
p{color: #6C63FF
;font-weight:300;font-size:2rem;}
.time{text-align:center;vertical-align:center;padding: 5px 0px;font-size:2rem;font-family:helvetica;width: 75vw;height: 2rem;}
button{border:none;width: 150px;height: 2rem;border-radius: 5px;background: #6C63FF
;color: white;}
section{background:white;display:flex;justify-content:center;align-items:center;flex-direction:column;font-family:helvetica;}
/*index2 index2 index2*/

.index2{display:flex;flex-direction:column;}
.index2 button{background: #6C63FF
;width: 25vw;margin: 0px auto;color: white;}
.index2 input{width: 50vw;height: 3rem;border:solid #6C63FF
 2px;background: transparent;margin:5px auto;position:relative;}

.index2 p{font-size:1.5rem;width: 75vw;}
.paragraph{font-size:0.5rem;margin:5px;}
.toDoContainer{display:flex;flex-direction:column;justify-content:flex-start;}
.day{text-align:center;vertical-align:center;padding: 10px 0px;font-size:2rem;font-family:helvetica;width: 75vw;height: 2rem;}



@media(min-width:1024px){
.day{margin:20px auto;position: relative;}
.time{margin: 20px auto;position: relative;}
button{position: relative;}
		img{height:50vh;width:50vh;margin: auto;position: relative;}		
		.index2 p{}
		.index2 input{width:350px;margin-bottom:30px}
}
